# Explicitly track only certain env files if needed
!.env.example
!.env.test

# Remove specific .env files from subdirectories
backend/.env
frontend/.env
backend/m4a_files
backend/zipped_playlists
backend/cached_playlists

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
